// @use "sass:meta";
// @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Serif+Pro&display=swap");

// // [Section] Colors

// $primary: #81899b;
// $accent: #302e24;
// $warn: #dfa612;
// $headerfont-color: #383838;
// $contentfont-color: #7a7a7a;
// $gradient-colors: #05d194, #abfe7c;

// //[Section] Screen Size
// $small: 768px;
// $medium: 1024px;
// $large: 1200px;

// // [Section] Font
// $primaryFont: "Poppins", sans-serif;
// $secondaryFont: "Source Serif Pro", serif;
// $gradient-colors: #05d194, #53f461;

// :root {
//   // !! COLORS
//   --primary: #{$primary};
//   --accent: #{$accent};
//   --warn: #{$warn};
//   --headerfont-color: #{$headerfont-color};
//   --contentfont-color: #{$contentfont-color};
//   --gradient-color-nav: #{$gradient-colors}

//   // !! FONTS
//   --primary-font: #{meta.inspect($primaryFont)};
//   --secondary-font: #{meta.inspect($secondaryFont)};
// }


// @mixin gradient-background($colors) {
//   background: linear-gradient(to right, $colors);
// }


// .navbar {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
  
//   .div-navmain{
//     color:#fefefe ;
//   }
//   // @media screen and (max-width: 768px) {
//   //   flex-direction: column;
//   //   align-items: flex-start;
//   // }

//   // .navbar-nav {
//   //   display: none;
//   //   transition: transform 0.3s ease-in-out;
//   // }
  
//   // .navbar-nav.open {
//   //   display: block;
//   //   transform: translateX(0);
//   // }
  
//   // @media screen and (max-width: 768px) {
//   //   .navbar-nav {
//   //     position: absolute;
//   //     top: 100%;
//   //     left: 0;
//   //     width: 100%;
//   //     background-color: #fff;
//   //     transform: translateX(-100%);
//   //   }
  
//   //   .navbar-nav.open {
//   //     transform: translateX(0);
//   //   }
//   // }
// }

// nav {
//   @include gradient-background($gradient-colors);
  
//   .navbar-nav .nav-link{
//     color: #fff;
//   }
//   .dropend .dropdown-toggle{
//     color: salmon;
//     margin-left: 1em;
//   }
//   .dropdown-item:hover{
//     background-color: lightsalmon;
//     color: #fff;
//   }
//   .dropdown .dropdown-menu{
//     display: none;
//   }
//   .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
//     display: block;
//     margin-top: .125em;
//     margin-left: .125em;
//   }
//   @media screen and (min-width:769px) {
//     .dropend:hover > .dropdown-menu{
//       position: absolute;
//       top: 0;
//       left: 100%;
//     }
//     .dropend .dropdown-toggle{
//       margin-left: .5em;
//     }
//   }

// }



