/* @media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover  {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
} */
/* .nav-link {
  color: red;
} */

.navbar-nav .nav-link{
  color: #fff;
}
.dropend .dropdown-toggle{
  color: salmon;
  margin-left: 1em;
}
.dropdown-item:hover{
  background-color: lightsalmon;
  color: #fff;
}
.dropdown .dropdown-menu{
  display: none;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
  display: block;
  margin-top: .125em;
  margin-left: .125em;
}


@media screen and (max-width:479px) {
  
  .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
    margin-left: .125em;
  }


  .dropend .dropdown-toggle{
    margin-left: .5em;
  }
}